In [1]:
import pandas as pd

In [2]:
brasileirao = pd.read_excel('brasileirao2.xlsx')

In [3]:
brasileirao

,ano,posicao,equipe,pontos,jogos,vitorias,empates,derrotas,gols_marcados,gols_sofridos,saldo_de_gols,total_de_pontos,aproveitamento
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55,138,72.46
1,2003,2,Santos,87,46,25,12,9,93,60,33,138,63.04
2,2003,3,São Paulo,78,46,22,12,12,81,67,14,138,56.52
3,2003,4,São Caetano,74,46,19,14,13,53,37,16,138,53.62
4,2003,5,Coritiba,73,46,21,10,15,67,58,9,138,52.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,2022,16,Cuiabá,41,38,10,11,17,31,42,-11,114,35.96
406,2022,17,Ceará,37,38,7,16,15,34,41,-7,114,32.46
407,2022,18,Atlético Goianiense,36,38,8,12,18,39,57,-18,114,31.58
408,2022,19,Avaí,35,38,9,8,21,34,60,-26,114,30.70
409,2022,20,Juventude,22,38,3,13,22,29,69,-40,114,19.30

In [4]:
brasileirao.head()

,ano,posicao,equipe,pontos,jogos,vitorias,empates,derrotas,gols_marcados,gols_sofridos,saldo_de_gols,total_de_pontos,aproveitamento
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55,138,72.46
1,2003,2,Santos,87,46,25,12,9,93,60,33,138,63.04
2,2003,3,São Paulo,78,46,22,12,12,81,67,14,138,56.52
3,2003,4,São Caetano,74,46,19,14,13,53,37,16,138,53.62
4,2003,5,Coritiba,73,46,21,10,15,67,58,9,138,52.90

In [5]:
brasileirao.tail()

,ano,posicao,equipe,pontos,jogos,vitorias,empates,derrotas,gols_marcados,gols_sofridos,saldo_de_gols,total_de_pontos,aproveitamento
405,2022,16,Cuiabá,41,38,10,11,17,31,42,-11,114,35.96
406,2022,17,Ceará,37,38,7,16,15,34,41,-7,114,32.46
407,2022,18,Atlético Goianiense,36,38,8,12,18,39,57,-18,114,31.58
408,2022,19,Avaí,35,38,9,8,21,34,60,-26,114,30.70
409,2022,20,Juventude,22,38,3,13,22,29,69,-40,114,19.30

<h3>Qual equipe venceu o campeonato mais vezes ao longo dos anos?</h3>

In [6]:
equipes_totais = brasileirao['equipe'].value_counts()

In [7]:
equipes_totais

São Paulo                 20
Santos                    20
Flamengo                  20
Fluminense                20
Corinthians               19
Internacional             19
Atlético Mineiro          19
Grêmio                    18
Cruzeiro                  17
Palmeiras                 17
Botafogo                  17
Atlético Paranaense       15
Vasco da Gama             15
Coritiba                  14
Goiás                     14
Figueirense               11
Bahia                     10
Vitória                   10
Ponte Preta                9
Sport                      9
Juventude                  7
Chapecoense                7
Avaí                       7
Atlético Goianiense        7
Ceará                      7
Fortaleza                  7
Paraná                     6
Náutico                    5
América Mineiro            5
Criciúma                   4
São Caetano                4
Guarani                    3
Portuguesa                 3
Paysandu                   3
Athletico Paranaense       3
RB Bragantino              2
Cuiabá                     2
Sport Recife               2
Santa Cruz                 2
Palmeirasa?                1
Athletico Paranaenseb?     1
CSA                        1
América de Natal           1
Joinville                  1
Grêmio Prudente            1
Santo André                1
Grêmio Barueri             1
Ipatinga                   1
Brasiliense                1
Red Bull Bragantino        1
Name: equipe, dtype: int64

In [8]:
equipes_totais_DF = equipes_totais.reset_index()

In [9]:
equipes_totais_DF

                     index  equipe
0                São Paulo      20
1                   Santos      20
2                 Flamengo      20
3               Fluminense      20
4              Corinthians      19
5            Internacional      19
6         Atlético Mineiro      19
7                   Grêmio      18
8                 Cruzeiro      17
9                Palmeiras      17
10                Botafogo      17
11     Atlético Paranaense      15
12           Vasco da Gama      15
13                Coritiba      14
14                   Goiás      14
15             Figueirense      11
16                   Bahia      10
17                 Vitória      10
18             Ponte Preta       9
19                   Sport       9
20               Juventude       7
21             Chapecoense       7
22                    Avaí       7
23     Atlético Goianiense       7
24                   Ceará       7
25               Fortaleza       7
26                  Paraná       6
27                 Náutico       5
28         América Mineiro       5
29                Criciúma       4
30             São Caetano       4
31                 Guarani       3
32              Portuguesa       3
33                Paysandu       3
34    Athletico Paranaense       3
35           RB Bragantino       2
36                  Cuiabá       2
37            Sport Recife       2
38              Santa Cruz       2
39             Palmeirasa?       1
40  Athletico Paranaenseb?       1
41                     CSA       1
42        América de Natal       1
43               Joinville       1
44         Grêmio Prudente       1
45             Santo André       1
46          Grêmio Barueri       1
47                Ipatinga       1
48             Brasiliense       1
49     Red Bull Bragantino       1