In [1]:
import pandas as pd

In [3]:
brasileirao = pd.read_excel('brasileirao2.xlsx')

In [4]:
brasileirao.head()

,year,position,team,points,games,victories,draws,losses,goals_scored,goals_against,goals_difference,total_points,percentage_win
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55,138,72.46
1,2003,2,Santos,87,46,25,12,9,93,60,33,138,63.04
2,2003,3,São Paulo,78,46,22,12,12,81,67,14,138,56.52
3,2003,4,São Caetano,74,46,19,14,13,53,37,16,138,53.62
4,2003,5,Coritiba,73,46,21,10,15,67,58,9,138,52.90

In [5]:
brasileirao.tail()

,year,position,team,points,games,victories,draws,losses,goals_scored,goals_against,goals_difference,total_points,percentage_win
405,2022,16,Cuiabá,41,38,10,11,17,31,42,-11,114,35.96
406,2022,17,Ceará,37,38,7,16,15,34,41,-7,114,32.46
407,2022,18,Atlético Goianiense,36,38,8,12,18,39,57,-18,114,31.58
408,2022,19,Avaí,35,38,9,8,21,34,60,-26,114,30.70
409,2022,20,Juventude,22,38,3,13,22,29,69,-40,114,19.30